.header {
  background: var(--gray-700);

  display: flex;
  align-items: center;
  justify-content: center;

  height: 12.5rem;
}

.header img {
  width: 7.875rem;
  height: 3rem;
  object-fit: cover;
}
